/* Estilos para la cuadrícula de productos */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.product-name{
  font-weight: bold;
  margin-bottom: 5px;
}
.product-price{
  color: green;
  margin-bottom: 5px;
}
.product-stock {
  color: red;
}

.btn-group {
  margin-top: 10px;
}

.carousel .carousel-item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Ajusta según sea necesario */
}

.carousel .carousel-item img {
  width: auto;
  height: 300px; /* Establece la altura fija */
  object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor */
  
}

.carousel .carousel-content {
  padding: 20px;
}

.btn-secondary {
  background-color: #6c757d; /* Gris para Pendiente */
  color: white;
}

.btn-warning {
  background-color: #d39e00; /* Amarillo oscuro para En proceso */
  color: white;
}

.btn-success {
  background-color: #28a745; /* Verde oscuro para Listo */
  color: white;
}

.low-stock-yellow {
  border: 2px solid yellow;
}

.low-stock-red {
  border: 2px solid red;
}

.carrito-button {
  background-color: #8B0000 !important; /* Rojo oscuro */
  color: white !important;
  border-radius: 20px !important; /* Bordes redondeados */
  padding: 10px 20px !important; /* Más ancho */
  border: none !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
}

.carrito-button:hover {
  background-color: #a30000 !important; /* Un rojo un poco más claro al pasar el mouse */
}


.quantity-control {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  background-color: #f9f9f9;
  width: 180px; /* Ajusta el ancho según sea necesario */
  justify-content: space-between; /* Espacio entre los botones y el valor */
}

.quantity-button {
  background-color: #8B0000; /* Rojo oscuro */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  margin: 0 5px;
}

.quantity-button:hover {
  background-color: #a30000; /* Un rojo un poco más claro al pasar el mouse */
}

.quantity-value {
  font-size: 1rem;
  margin: 0 10px;
}

