/* Estilos para la cuadrícula de productos */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.product-info {
  text-align: center;
}

.product-name,
.product-price,
.product-stock {
  font-size: 1.2em;
  margin-top: 10px;
}

.btn-group {
  margin-top: 10px;
}

.carousel .carousel-item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Ajusta según sea necesario */
}

.carousel .carousel-item img {
  width: auto;
  height: 300px; /* Establece la altura fija */
  object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor */
  
}

.carousel .carousel-content {
  padding: 20px;
}

.btn-secondary {
  background-color: #6c757d; /* Gris para Pendiente */
  color: white;
}

.btn-warning {
  background-color: #d39e00; /* Amarillo oscuro para En proceso */
  color: white;
}

.btn-success {
  background-color: #28a745; /* Verde oscuro para Listo */
  color: white;
}

.low-stock-yellow {
  border: 2px solid yellow;
}

.low-stock-red {
  border: 2px solid red;
}

